img {
    max-width: 100%;
}

#artCarousel img {
   max-height: 80vh;
}

.gallery-column {
    display: flex;
    align-items: center;
}

.gallery-img {
    cursor: pointer;
    vertical-align: middle;
}

#modalImage {
    object-fit: contain;
    max-height: 80vh;
}
.testimonial {
	background-color: #ccf0f1;
	padding: 0.75rem;
	border-radius: 0.75rem;
	overflow: hidden;
}
.testimonial-inner {
	display: flex;
}
.testimonial img {
	height: 3rem;
	margin-right: 0.5rem;
}
.testimonial p {
}
.testimonial-footer {
	font-weight: 600;
	text-align: right;
}
