img {
    max-width: 100%;
}

#artCarousel img {
   max-height: 80vh;
}

.gallery-column {
    display: flex;
    align-items: center;
}

.gallery-img {
    cursor: pointer;
    vertical-align: middle;
}

#modalImage {
    object-fit: contain;
    max-height: 80vh;
}
